@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <div class="main-content">
        <h1>Welcome to Contact Me page</h1>
        <p>This is where you can find more convienient ways to reach me</p>
    </div>

    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Airoli <br />
        Navi-Mumbai, WA +91 8928-790-351<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>